*{
margin: 0%;
padding: 0%;
box-sizing: border-box;

}
/*share section */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn{
  background-color: rgb(74, 148, 0);
  color: rgb(255, 255, 255);
  padding: 14px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(9, 77, 5);
}
.color-green{
  color: green;
}
/*navber start*/
.navber{
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  background-color:#FFFFFF;

}
.navber ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navber ul li{
  list-style: none;

}
/*hero section */
.hero_banar{
  background: url("/Images/assets/hero-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 533px;
}
.overlay{
  position: absolute;
  background-color: rgba(41, 96, 42, 0.581);
}
.bage{
  display: inline-block;
  padding: 8px 12px;
  background: #FFFFFF;
  font-size: 14;
  border-radius: 20px;
}
.hero_content{ 
  p
  max-width: 800px;
  text-align: center;
  padding: 20px;}

 .hero_content h1{
 font-size: 65px;
  font-weight: 770;
  color: #fff;
 }
.hero_content h1 span{
  color: green;
}
.hero_content p{
   font-size: 18px;
  color: #d1d5db;
  line-height: 24px;
   margin-bottom: 30px;
}
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}
.b1 {
 background-color: green;
 border-radius: 4px;
}
.b1 a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
padding: 18px 14px;
font-weight: 600;
}
.b2{
  border: 1px solid rgb(255, 255, 255);
}
.b2 a{
 text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 14px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}