*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
/*share section */

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn{
  background-color: rgb(74, 148, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 600;
  width: 164px;
  height: 44px;
  font-size: 16px;
  text-align: center;
}
.btn:hover{
  background-color: blue;
}
.color-green{
  color: green;
}
/*navber start*/
.navber{
  display: flex;
  justify-content: space-between;
  padding: 16px 120px;
  background-color:#FFFFFF;

}
.navber ul{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navber ul li{
  list-style: none;

}
/*hero section */
.hero_banar{
  background: url("/Images/assets/hero-bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 533px;
}
.hero_content{ 
  p
  max-width: 800px;
  text-align: center;
  padding: 20px;}

 .hero_content h1{
 font-size: 65px;
  font-weight: 770;
  color: #fff;
 }
.hero_content h1 span{
  color: green;
}
.hero_content p{
   font-size: 18px;
  color: #d1d5db;
  line-height: 24px;
   margin-bottom: 30px;
}
